<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FactCheck84</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-darky.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FactCheck84.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<style>
    .nav-custom
    {
        background-color: red;
        position: fixed; /* Mantém a barra de navegação fixa na tela */
        top: 0; /* Posiciona a barra no topo da tela */
        bottom: 0; /* Define a altura da barra igual à altura da tela */
        display: flex;
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center; /* Alinha os itens à esquerda */
        padding: 10px;
        width: 3%; /* Largura da barra de navegação */
    }

    .home-button
    {
        text-decoration: none;
        color: white;
        border-style: none;
    }

    .space-betwen
    {
        background-color: white;
        height: 1px;
        width: 30px; /* Largura da barra de navegação */
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .POG-space-betwen 
    {
        background-color: transparent;
        height: 1px;
        width: 30px; /* Largura da barra de navegação */
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .material-symbols-outlined
    {
        font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    }

    .material-symbols-outlined:hover
    {
        font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    }

    .disabled
    {
        font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    }

</style>

<body>
    <header>
        <!--
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        </nav>

        -->
        <nav class="nav-custom">
            <div class="nav-item">
                <a class="home-button" asp-area="" asp-controller="" asp-action="">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                </a>
            </div>
            <div class="space-betwen"></div>
            <div class="nav-item">
                <a class="home-button @(ViewContext.RouteData.Values["Action"].ToString() == "Library" ? "disabled" : "")" asp-area="" asp-controller="Texts" asp-action="Library">
                    <span class="material-symbols-outlined">
                        import_contacts
                    </span>
                </a>
            </div>
            <div class="POG-space-betwen"></div>
            <div class="nav-item">
                <a class="home-button @(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "disabled" : "")" asp-area="" asp-controller="Texts" asp-action="Create">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </a>
            </div>
            <div class="POG-space-betwen"></div>
            <div class="nav-item">
                <a class="home-button @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "disabled" : "")" asp-area="" asp-controller="RedactedWords" asp-action="Index">
                    <span class="material-symbols-outlined">
                        visibility_off
                    </span>
                </a>
            </div>
            <div class="POG-space-betwen"></div>
            <div class="nav-item">
                <a class="home-button @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "disabled" : "")" asp-area="" asp-controller="Authors" asp-action="Index">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
