@model FactCheck84.Models.RedactedWord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RedactedWord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Word)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Word)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CensorChief)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CensorChief.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
